head
    title Beaglebone getting started - Beaglebone.org
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='../../js/menubar.js')
    script(type='text/javascript', src='../../js/libs/jquery.min.js')
    script(type='text/javascript', src='../../js/libs/bootstrap.min.js')
    link(href='../../css/libs/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='../../css/libs/bootstrap.css', rel='stylesheet', type='text/css')