.navbar
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='http://www.beagleboard.org/', target='_blank')
                span Beagleboard.org
        #navbar-ex-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.active
                    a(href='#') Home
                li
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | Language
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='../de/index.html') English
                        li.divider
                        li
                            a(href='../pt_BR/index.html') Portuguese (Brazil)
                        li
                            a(href='../fr/index.html') French
                        li
                            a(href='../de/index.html') German
                        li
                            a(href='../es_ES/index.html') Spanish