doctype html
html
  include ./includes/head.jade
  body
    .cover.hidden-sm
      include ./includes/navbar
      .cover-image(style="background-image: url('../../images/background.jpg')")
      .container
        .row
          .col-md-12.text-center
            h1.text-inverse Beaglebone getting started
            p.text-inverse #{$i18n.pages.index.connect_beagle}
            br
            br
            a.btn.btn-lg.btn-primary(data-toggle='modal', data-target='.bs-example-modal-sm') #{$i18n.pages.index.detect_beagle}
            .modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
              .modal-dialog.modal-sm
                .modal-content
                  img(src='../../images/boris_cape.png')
                  br
                  br
                  | .. Detecting device ...
                  br
                  br
                  | Please wait